body {
    padding:0;
    margin:0;
/*background-image:url("./image/super-meat-boy-wallpapers_626294726.jpg");*/
/* background-image:url("./image/depositphotos_42948809-stock-photo-frost-white-background-black-light.jpg");*/
    background-image: url("./image/089_Premium_White.png");

    
    background-color: white;
}
